.red {
    color: red
}

.blue {
    color: blue
}

h4.purple {
    color: purple
}

/* tag.class */
h2 {
    color: yellow
}

.font {
    font-size: xx-large;
}

.under {
    text-decoration: underline;
}